@import "_var.scss";

.container__main {
  &__home {
    padding: 80px 10px 10px 10px;
    position: relative;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation-name: home-background;
    animation-duration: 80s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    &__titlebox {
      position: absolute;
      top: 30%;
      font-size: 3rem;
      color: $backWhite;

      #design {
        line-height: 100%;
        text-shadow: 10px 5px 10px $backDark;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 100;
      }

      #gongam {
        font-size: 5.9rem;
        line-height: 100%;
        text-shadow: 15px 10px 15px $backDark;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
      }
    }
  }

  &__about {
    width: 100%;
    height: 700px;
    background-color: $backWhite;
    position: relative;

    &__titlebox {
      position: absolute;
      top: 20px;
      left: calc(100% - 100px);
      width: 660px;
      height: 100px;
      color: $backDarkTr;
      transform: rotate(90deg) translateX(-100px);
      transform-origin: bottom left;
      opacity: 0.4;

      .__about__title_1 {
        text-align: end;
        font-size: 5rem;
        line-height: 90%;
        writing-mode: sideways-lr;
      }

      .__about__title_2 {
        text-align: end;
        font-size: 4rem;
        line-height: 85%;
        width: 480px;
        height: 60px;
        writing-mode: sideways-lr;
        position: absolute;
        top: calc(100% - 35px);
        left: calc(100% - 480px);
      }
    }

    &__contentbox {
      width: calc(100% - 130px);
      height: 100%;
      padding: 10px 0 10px 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;

      p {
        font-size: 1.2rem;
        text-align: justify;
        text-indent: 100px;
        line-height: 180%;
        color: $backDark;
      }
    }
  }

  &__projects {
    width: 100%;
    height: 90vh;
    min-height: 600px;
    max-height: 1100px;
    background-image: url("../src/img/IMG_2121.JPG");
    background-size: 140%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation-name: projects-background;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    &__swiper {
      width: 100%;
      height: 100%;
      backdrop-filter: blur(5px) grayscale(0.5);
      padding: 0px 0;

      &__wrapper {
        overflow-y: hidden !important;

        &__slide {
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;

          &__titlebox {
            width: 100%;
            height: 100%;
            background-color: transparent;
            padding: 10px;
            position: relative;
            transition: all 0.3s;
            cursor: pointer;

            h1 {
              color: $backDark;
              font-size: 2rem;
              font-weight: 600;
              transition: color 0.3s;
            }

            p {
              opacity: 0;
              position: absolute;
              top: 30%;
              left: 10px;
              width: calc(100% - 20px);
              color: $backWhite;
              font-size: 1.2rem;
              text-align: justify;
              text-indent: 50px;
              transition: opacity 0.3s;
            }

            button {
              position: absolute;
              top: 50%;
              left: calc(50% - 100px);
              opacity: 0;
              width: 200px;
              height: 50px;
              background-color: transparent;
              border: none;
              display: flex;
              justify-content: center;
              align-items: center;
              animation-name: project-button;
              animation-duration: 0.6s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: infinite;
              animation-direction: alternate;
              transition: all 0.5s;

              svg {
                width: 70px;
                .a {
                  transition: all 0.3s linear 0.5s;
                }
              }

              h2 {
                color: $backWhite;
                transition: color 0.3s linear 0.5s;
              }
            }

            &:hover {
              background-color: $backDarkTr;
              backdrop-filter: blur(5px);

              h1 {
                color: $backWhite;
              }

              p {
                opacity: 1;
              }

              button {
                top: 80%;
                opacity: 1;
              }
            }
          }
        }

        #slide-1 {
          background-image: url("../src/img/IMG_2101.JPG");
        }

        #slide-2 {
          background-image: url("../src/img/IMG_2102.JPG");
        }

        #slide-3 {
          background-image: url("../src/img/IMG_2103.JPG");
        }

        #slide-4 {
          background-image: url("../src/img/IMG_2104.JPG");
        }

        #slide-5 {
          background-image: url("../src/img/IMG_2105.JPG");
        }
      }

      .swiper-slide {
        filter: grayscale(80) blur(5px);
        transition: filter 0.5s;
      }

      .swiper-slide-active {
        filter: grayscale(0);
        box-shadow: -10px 10px 20px $backDarkTr;
      }

      .swiper-button-next,
      .swiper-button-prev {
        color: $backWhiteTr;

        &:hover,
        &:active {
          color: $backWhite;
        }
      }

      .swiper-pagination-bullet {
        width: 5%;
        height: 5px;
        border-radius: 10px;
        background-color: $backWhiteTr;

        &:hover,
        &:active {
          background-color: $backDark;
        }

        &-active {
          background-color: $backWhite;
        }
      }
    }
  }

  &__contact {
    width: 100%;
    height: 600px;
    background-color: $backWhite;
    position: relative;
    padding: 20px 20px 20px 140px;

    &__titlebox {
      position: absolute;
      top: 20px;
      left: 40px;
      width: 560px;
      height: 100px;
      color: $backDarkTr;
      transform: rotate(90deg) translateX(-100px);
      transform-origin: bottom left;
      opacity: 0.4;

      .__contact__title_1 {
        text-align: center;
        font-size: 5rem;
        line-height: 95%;
        writing-mode: sideways-lr;
      }

      .__contact__title_2 {
        text-align: start;
        font-size: 3rem;
        line-height: 100%;
        height: 30px;
        width: 190px;
        writing-mode: sideways-lr;
        position: absolute;
        top: 100%;
        left: calc(100% - 190px);
      }
    }

    &__contentbox {
      .__contact__map {
        width: 100%;
        height: 560px;
        position: relative;

        &__info {
          position: absolute;
          top: 25%;
          left: 10px;
          background-color: white;
          border-radius: 2px;
          width: 283px;
          height: 13%;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: space-around;
          padding: 10px;

          a {
            text-decoration: none;
            display: block;
            color: black;
            display: flex;
            align-items: center;
            transition: all 0.3s;

            span {
              font-size: 1.3rem;
              margin-right: 5px;
            }

            &:hover {
              color: $active;
              border-bottom: 0.1px solid $active;
            }
          }

          &__media {
            width: 50px;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
            position: absolute;
            top: 10%;
            left: 82%;
            border-left: 1px solid $backDark;

            div {
              cursor: pointer;
            }

            &__insta {
              width: 1.3rem;

              #SVGRepo_iconCarrier {
                stroke: $backDark;
                fill: none;
                transition: all 0.15s;
              }

              &:hover {
                #SVGRepo_iconCarrier {
                  stroke: $active;
                }
              }
            }

            &__naver {
              width: 1.25rem;

              #SVGRepo_iconCarrier {
                fill: $backDark;
                transition: all 0.15s;
              }

              &:hover {
                #SVGRepo_iconCarrier {
                  fill: $active;
                }
              }
            }
          }
        }

        iframe {
          border-radius: 20px;
          box-shadow: -10px 5px 10px $backDarkTr;
        }
      }
    }
  }

  &__footer {
    width: 100%;
    height: 110px;
    background-color: $backDark;
    border-top: 1px solid $backWhite;
    padding: 20px;
    display: flex;
    position: relative;

    &__logobox {
      background-image: url("../src/logo.webp");
      background-position: left center;
      background-size: 60px;
      background-repeat: no-repeat;
      width: 38%;
      height: 100%;
      opacity: 0.5;

      h1 {
        color: $backWhite;
        font-size: 1.5rem;
        font-weight: 600;
        margin-left: 70px;
        line-height: 80%;
        position: relative;
        top: calc(50% - 1.5rem);
      }
    }

    &__menubox {
      width: 62%;
      height: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 30px;
      opacity: 0.5;

      a {
        color: $backWhite;
        text-decoration: none;
        font-size: 1.1rem;
      }
    }

    &__copy {
      position: absolute;
      top: 90px;
      left: calc(50% - 250px);
      width: 500px;
      height: 20px;
      text-align: center;
      color: $backWhite;
      opacity: 0.5;
      font-size: 0.8rem;
    }
  }
}

@keyframes home-background {
  0% {
    background-image: url("../src/img/IMG_2113.JPG");
    background-size: 120%;
    background-position: right;
  }

  20% {
    background-image: url("../src/img/IMG_2110.JPG");
    background-size: 120%;
    background-position: left bottom;
  }

  40% {
    background-image: url("../src/img/IMG_2112.JPG");
    background-size: 200%;
    background-position: left bottom;
  }

  60% {
    background-image: url("../src/img/IMG_2114.JPG");
    background-size: 120%;
    background-position: center;
  }

  80% {
    background-image: url("../src/img/IMG_2122.JPG");
    background-size: 120%;
    background-position: right;
  }

  100% {
    background-image: url("../src/img/IMG_2123.JPG");
    background-size: 110%;
    background-position: bottom;
  }
}

@keyframes projects-background {
  from {
    background-position: left;
  }

  to {
    background-position: right bottom;
  }
}

@keyframes project-button {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
