@font-face {
  font-family: "first";
  src: url("./fonts/PRETENDARD-LIGHT.OTF") format("opentype");
}

@font-face {
  font-family: "second";
  src: url("./fonts/PRETENDARD-BOLD.OTF") format("opentype");
}

@font-face {
  font-family: "third";
  src: url("./fonts/PRETENDARD-SEMIBOLD.OTF") format("opentype");
}
