@import "_var.scss";
@import "_fonts.scss";
@import "contentbox";

* {
  padding: 0;
  margin: 0;
  inset: 0;
  box-sizing: border-box;
  font-family: "first";
}

body {
  background-color: $backWhite;
  font-size: 16px;
}

.container {
  &__header {
    width: 100%;
    height: 80px;
    backdrop-filter: blur(5px) grayscale(0.5);
    border-bottom: 1px solid $backDark;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    &__logobox {
      width: 100px;
      height: calc(100% - 20px);
      cursor: pointer;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: start;
      transition: transform 0.3s;

      .cls-2,
      .cls-3 {
        fill: $backDark;
        transition: all 0.3s;
      }

      &:hover {
        transform: scale(1.2);
        .cls-2,
        .cls-3 {
          fill: $active;
        }
      }
    }

    &__menu {
      width: calc(80% - 100px);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      ul {
        list-style: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
          width: 23%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            top: calc(100% - 7px);
            left: 0;
            width: 100%;
            height: 7px;
            background-color: $active;
            border-radius: 4px 4px 0 0;
            transform: scaleY(0);
            transform-origin: bottom;
            transition: all 0.5s;
          }

          a {
            color: $backDark;
            text-decoration: none;
            font-size: 1.2rem;
            transition: all 0.3s;
          }

          &:hover {
            &::after {
              transform: scale(1);
              box-shadow: 0 0 10px $backDarkTr;
            }

            a {
              color: $active;
              font-size: 1.4rem;
              font-family: "second";
              text-shadow: 0 0 10px $backDarkTr;
            }
          }
        }
      }
    }

    &__mediabox {
      width: 100px;
      height: calc(100% - 20px);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      &__insta {
        width: 30px;
        cursor: pointer;
        transition: transform 0.3s;

        #SVGRepo_iconCarrier {
          stroke: $backDark;
          fill: none;
          transition: all 0.15s;
        }

        &:hover {
          transform: scale(1.2);

          #SVGRepo_iconCarrier {
            stroke: $active;
          }
        }
      }

      &__naver {
        width: 25px;
        cursor: pointer;
        transition: transform 0.3s;

        #SVGRepo_iconCarrier {
          fill: $backDark;
          transition: all 0.15s;
        }

        &:hover {
          transform: scale(1.2);

          #SVGRepo_iconCarrier {
            fill: $active;
          }
        }
      }
    }
  }

  &__aside {
    position: fixed;
    top: calc(100% - 100px);
    left: calc(100% - 70px);
    width: 50px;
    height: 50px;
    backdrop-filter: blur(5px) grayscale(0.7);
    border: 1px solid $backDark;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 99;
    transition: all 0.3s;

    #SVGRepo_iconCarrier {
      stroke: $backDark;
      fill: $backDark;
    }

    svg {
      width: 35px;
    }

    &:hover {
      background-color: $backDarkTr;
      border: 1px solid $backWhite;

      #SVGRepo_iconCarrier {
        stroke: $backWhite;
        fill: $backWhite;
      }
    }
  }
}
