@font-face {
  font-family: "first";
  src: url("./fonts/PRETENDARD-LIGHT.OTF") format("opentype");
}
@font-face {
  font-family: "second";
  src: url("./fonts/PRETENDARD-BOLD.OTF") format("opentype");
}
@font-face {
  font-family: "third";
  src: url("./fonts/PRETENDARD-SEMIBOLD.OTF") format("opentype");
}
.container__main__home {
  padding: 80px 10px 10px 10px;
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation-name: home-background;
  animation-duration: 80s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.container__main__home__titlebox {
  position: absolute;
  top: 30%;
  font-size: 3rem;
  color: rgb(255, 248, 235);
}
.container__main__home__titlebox #design {
  line-height: 100%;
  text-shadow: 10px 5px 10px rgb(59, 64, 87);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}
.container__main__home__titlebox #gongam {
  font-size: 5.9rem;
  line-height: 100%;
  text-shadow: 15px 10px 15px rgb(59, 64, 87);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}
.container__main__about {
  width: 100%;
  height: 700px;
  background-color: rgb(255, 248, 235);
  position: relative;
}
.container__main__about__titlebox {
  position: absolute;
  top: 20px;
  left: calc(100% - 100px);
  width: 660px;
  height: 100px;
  color: rgba(59, 64, 87, 0.5);
  transform: rotate(90deg) translateX(-100px);
  transform-origin: bottom left;
  opacity: 0.4;
}
.container__main__about__titlebox .__about__title_1 {
  text-align: end;
  font-size: 5rem;
  line-height: 90%;
  writing-mode: sideways-lr;
}
.container__main__about__titlebox .__about__title_2 {
  text-align: end;
  font-size: 4rem;
  line-height: 85%;
  width: 480px;
  height: 60px;
  writing-mode: sideways-lr;
  position: absolute;
  top: calc(100% - 35px);
  left: calc(100% - 480px);
}
.container__main__about__contentbox {
  width: calc(100% - 130px);
  height: 100%;
  padding: 10px 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.container__main__about__contentbox p {
  font-size: 1.2rem;
  text-align: justify;
  text-indent: 100px;
  line-height: 180%;
  color: rgb(59, 64, 87);
}
.container__main__projects {
  width: 100%;
  height: 90vh;
  min-height: 600px;
  max-height: 1100px;
  background-image: url("../src/img/IMG_2121.JPG");
  background-size: 140%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation-name: projects-background;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.container__main__projects__swiper {
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px) grayscale(0.5);
          backdrop-filter: blur(5px) grayscale(0.5);
  padding: 0px 0;
}
.container__main__projects__swiper__wrapper {
  overflow-y: hidden !important;
}
.container__main__projects__swiper__wrapper__slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container__main__projects__swiper__wrapper__slide__titlebox {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 10px;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}
.container__main__projects__swiper__wrapper__slide__titlebox h1 {
  color: rgb(59, 64, 87);
  font-size: 2rem;
  font-weight: 600;
  transition: color 0.3s;
  mix-blend-mode: difference;
}
.container__main__projects__swiper__wrapper__slide__titlebox p {
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 10px;
  width: calc(100% - 20px);
  color: rgb(255, 248, 235);
  font-size: 1.2rem;
  text-align: justify;
  text-indent: 50px;
  transition: opacity 0.3s;
}
.container__main__projects__swiper__wrapper__slide__titlebox button {
  position: absolute;
  top: 50%;
  left: calc(50% - 100px);
  opacity: 0;
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: project-button;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: all 0.5s;
}
.container__main__projects__swiper__wrapper__slide__titlebox button svg {
  width: 70px;
}
.container__main__projects__swiper__wrapper__slide__titlebox button svg .a {
  transition: all 0.3s linear 0.5s;
}
.container__main__projects__swiper__wrapper__slide__titlebox button h2 {
  color: rgb(255, 248, 235);
  transition: color 0.3s linear 0.5s;
}
.container__main__projects__swiper__wrapper__slide__titlebox:hover {
  background-color: rgba(59, 64, 87, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.container__main__projects__swiper__wrapper__slide__titlebox:hover h1 {
  color: rgb(255, 248, 235);
}
.container__main__projects__swiper__wrapper__slide__titlebox:hover p {
  opacity: 1;
}
.container__main__projects__swiper__wrapper__slide__titlebox:hover button {
  top: 80%;
  opacity: 1;
}
.container__main__projects__swiper__wrapper #slide-1 {
  background-image: url("../src/projects/2-3/1.webp");
}
.container__main__projects__swiper__wrapper #slide-2 {
  background-image: url("../src/projects/2-2/KakaoTalk_20240924_091039821.webp");
}
.container__main__projects__swiper__wrapper #slide-3 {
  background-image: url("../src/projects/2-1/1.webp");
}
.container__main__projects__swiper__wrapper #slide-4 {
  background-image: url("../src/projects/3-1/250210_js2_446.webp");
}
.container__main__projects__swiper__wrapper #slide-5 {
  background-image: url("../src/projects/3-2/1.webp");
}
.container__main__projects__swiper__wrapper #slide-6 {
  background-image: url("../src/projects/3-3/KakaoTalk_20240924_091003321_01.webp");
}
.container__main__projects__swiper__wrapper #slide-7 {
  background-image: url("../src/projects/4-3/1.webp");
}
.container__main__projects__swiper .swiper-slide {
  filter: grayscale(80) blur(5px);
  transition: filter 0.5s;
}
.container__main__projects__swiper .swiper-slide-active {
  filter: grayscale(0);
  box-shadow: -10px 10px 20px rgba(59, 64, 87, 0.5);
}
.container__main__projects__swiper .swiper-button-next,
.container__main__projects__swiper .swiper-button-prev {
  color: rgba(255, 248, 235, 0.5);
}
.container__main__projects__swiper .swiper-button-next:hover, .container__main__projects__swiper .swiper-button-next:active,
.container__main__projects__swiper .swiper-button-prev:hover,
.container__main__projects__swiper .swiper-button-prev:active {
  color: rgb(255, 248, 235);
}
.container__main__projects__swiper .swiper-pagination-bullet {
  width: 5%;
  height: 5px;
  border-radius: 10px;
  background-color: rgba(255, 248, 235, 0.5);
}
.container__main__projects__swiper .swiper-pagination-bullet:hover, .container__main__projects__swiper .swiper-pagination-bullet:active {
  background-color: rgb(59, 64, 87);
}
.container__main__projects__swiper .swiper-pagination-bullet-active {
  background-color: rgb(255, 248, 235);
}
.container__main__contact {
  width: 100%;
  height: 600px;
  background-color: rgb(255, 248, 235);
  position: relative;
  padding: 20px 20px 20px 140px;
}
.container__main__contact__titlebox {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 560px;
  height: 100px;
  color: rgba(59, 64, 87, 0.5);
  transform: rotate(90deg) translateX(-100px);
  transform-origin: bottom left;
  opacity: 0.4;
}
.container__main__contact__titlebox .__contact__title_1 {
  text-align: center;
  font-size: 5rem;
  line-height: 95%;
  writing-mode: sideways-lr;
}
.container__main__contact__titlebox .__contact__title_2 {
  text-align: start;
  font-size: 3rem;
  line-height: 100%;
  height: 30px;
  width: 190px;
  writing-mode: sideways-lr;
  position: absolute;
  top: 100%;
  left: calc(100% - 190px);
}
.container__main__contact__contentbox .__contact__map {
  width: 100%;
  height: 560px;
  position: relative;
}
.container__main__contact__contentbox .__contact__map__info {
  position: absolute;
  top: 25%;
  left: 10px;
  background-color: white;
  border-radius: 2px;
  width: 283px;
  height: 13%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  padding: 10px;
}
.container__main__contact__contentbox .__contact__map__info a {
  text-decoration: none;
  display: block;
  color: black;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.container__main__contact__contentbox .__contact__map__info a span {
  font-size: 1.3rem;
  margin-right: 5px;
}
.container__main__contact__contentbox .__contact__map__info a:hover {
  color: rgb(173, 26, 26);
  border-bottom: 0.1px solid rgb(173, 26, 26);
}
.container__main__contact__contentbox .__contact__map__info__media {
  width: 50px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  top: 10%;
  left: 82%;
  border-left: 1px solid rgb(59, 64, 87);
}
.container__main__contact__contentbox .__contact__map__info__media div {
  cursor: pointer;
}
.container__main__contact__contentbox .__contact__map__info__media__insta {
  width: 1.3rem;
}
.container__main__contact__contentbox .__contact__map__info__media__insta #SVGRepo_iconCarrier {
  stroke: rgb(59, 64, 87);
  fill: none;
  transition: all 0.15s;
}
.container__main__contact__contentbox .__contact__map__info__media__insta:hover #SVGRepo_iconCarrier {
  stroke: rgb(173, 26, 26);
}
.container__main__contact__contentbox .__contact__map__info__media__naver {
  width: 1.25rem;
}
.container__main__contact__contentbox .__contact__map__info__media__naver #SVGRepo_iconCarrier {
  fill: rgb(59, 64, 87);
  transition: all 0.15s;
}
.container__main__contact__contentbox .__contact__map__info__media__naver:hover #SVGRepo_iconCarrier {
  fill: rgb(173, 26, 26);
}
.container__main__contact__contentbox .__contact__map iframe {
  border-radius: 20px;
  box-shadow: -10px 5px 10px rgba(59, 64, 87, 0.5);
}
.container__main__footer {
  width: 100%;
  height: 110px;
  background-color: rgb(59, 64, 87);
  border-top: 1px solid rgb(255, 248, 235);
  padding: 20px;
  display: flex;
  position: relative;
}
.container__main__footer__logobox {
  background-image: url("../src/logo.webp");
  background-position: left center;
  background-size: 60px;
  background-repeat: no-repeat;
  width: 38%;
  height: 100%;
  opacity: 0.5;
}
.container__main__footer__logobox h1 {
  color: rgb(255, 248, 235);
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 70px;
  line-height: 80%;
  position: relative;
  top: calc(50% - 1.5rem);
}
.container__main__footer__menubox {
  width: 62%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  opacity: 0.5;
}
.container__main__footer__menubox a {
  color: rgb(255, 248, 235);
  text-decoration: none;
  font-size: 1.1rem;
}
.container__main__footer__copy {
  position: absolute;
  top: 90px;
  left: calc(50% - 250px);
  width: 500px;
  height: 20px;
  text-align: center;
  color: rgb(255, 248, 235);
  opacity: 0.5;
  font-size: 0.8rem;
}

@keyframes home-background {
  0% {
    background-image: url("../src/img/IMG_2113.JPG");
    background-size: 120%;
    background-position: right;
  }
  20% {
    background-image: url("../src/img/IMG_2110.JPG");
    background-size: 120%;
    background-position: left bottom;
  }
  40% {
    background-image: url("../src/img/IMG_2112.JPG");
    background-size: 200%;
    background-position: left bottom;
  }
  60% {
    background-image: url("../src/img/IMG_2114.JPG");
    background-size: 120%;
    background-position: center;
  }
  80% {
    background-image: url("../src/img/IMG_2122.JPG");
    background-size: 120%;
    background-position: right;
  }
  100% {
    background-image: url("../src/img/IMG_2123.JPG");
    background-size: 110%;
    background-position: bottom;
  }
}
@keyframes projects-background {
  from {
    background-position: left;
  }
  to {
    background-position: right bottom;
  }
}
@keyframes project-button {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
* {
  padding: 0;
  margin: 0;
  inset: 0;
  box-sizing: border-box;
  font-family: "first";
}

body {
  background-color: rgb(255, 248, 235);
  font-size: 16px;
}

.container__header {
  width: 100%;
  height: 80px;
  -webkit-backdrop-filter: blur(5px) grayscale(0.5);
          backdrop-filter: blur(5px) grayscale(0.5);
  border-bottom: 1px solid rgb(59, 64, 87);
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.container__header__logobox {
  width: 100px;
  height: calc(100% - 20px);
  cursor: pointer;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  transition: transform 0.3s;
}
.container__header__logobox .cls-2,
.container__header__logobox .cls-3 {
  fill: rgb(59, 64, 87);
  transition: all 0.3s;
}
.container__header__logobox:hover {
  transform: scale(1.2);
}
.container__header__logobox:hover .cls-2,
.container__header__logobox:hover .cls-3 {
  fill: rgb(173, 26, 26);
}
.container__header__menu {
  width: calc(80% - 100px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__header__menu ul {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__header__menu ul li {
  width: 23%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container__header__menu ul li::after {
  content: "";
  position: absolute;
  top: calc(100% - 7px);
  left: 0;
  width: 100%;
  height: 7px;
  background-color: rgb(173, 26, 26);
  border-radius: 4px 4px 0 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: all 0.5s;
}
.container__header__menu ul li a {
  color: rgb(59, 64, 87);
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s;
}
.container__header__menu ul li:hover::after {
  transform: scale(1);
  box-shadow: 0 0 10px rgba(59, 64, 87, 0.5);
}
.container__header__menu ul li:hover a {
  color: rgb(173, 26, 26);
  font-size: 1.4rem;
  font-family: "second";
  text-shadow: 0 0 10px rgba(59, 64, 87, 0.5);
}
.container__header__mediabox {
  width: 100px;
  height: calc(100% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container__header__mediabox__insta {
  width: 30px;
  cursor: pointer;
  transition: transform 0.3s;
}
.container__header__mediabox__insta #SVGRepo_iconCarrier {
  stroke: rgb(59, 64, 87);
  fill: none;
  transition: all 0.15s;
}
.container__header__mediabox__insta:hover {
  transform: scale(1.2);
}
.container__header__mediabox__insta:hover #SVGRepo_iconCarrier {
  stroke: rgb(173, 26, 26);
}
.container__header__mediabox__naver {
  width: 25px;
  cursor: pointer;
  transition: transform 0.3s;
}
.container__header__mediabox__naver #SVGRepo_iconCarrier {
  fill: rgb(59, 64, 87);
  transition: all 0.15s;
}
.container__header__mediabox__naver:hover {
  transform: scale(1.2);
}
.container__header__mediabox__naver:hover #SVGRepo_iconCarrier {
  fill: rgb(173, 26, 26);
}
.container__aside {
  position: fixed;
  top: calc(100% - 100px);
  left: calc(100% - 70px);
  width: 50px;
  height: 50px;
  -webkit-backdrop-filter: blur(5px) grayscale(0.7);
          backdrop-filter: blur(5px) grayscale(0.7);
  border: 1px solid rgb(59, 64, 87);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 99;
  transition: all 0.3s;
}
.container__aside #SVGRepo_iconCarrier {
  stroke: rgb(59, 64, 87);
  fill: rgb(59, 64, 87);
}
.container__aside svg {
  width: 35px;
}
.container__aside:hover {
  background-color: rgba(59, 64, 87, 0.5);
  border: 1px solid rgb(255, 248, 235);
}
.container__aside:hover #SVGRepo_iconCarrier {
  stroke: rgb(255, 248, 235);
  fill: rgb(255, 248, 235);
}/*# sourceMappingURL=main.css.map */