@import "_var.scss";
@import "_fonts.scss";

.container__header__projects {
  background-color: $backDarkTr;
}

.container__projects__main {
  &__portfolio {
    width: 100%;
    min-height: calc(100vh - 110px);
    position: relative;

    &__nav {
      width: 25%;
      //   min-width: 200px;
      height: calc(100% - 100px);
      margin-top: 90px;
      padding: 10px;
      position: fixed;
      border-right: 1px solid $backDark;

      li {
        width: 100%;
        height: 30px;
        font-size: 1.2rem;
        text-decoration: none;
        color: $backDark;
        transition: all 0.3s;

        &:hover {
          color: $active;
          font-size: 1.4rem;
          font-family: "second";
        }
      }
    }

    &__contentbox {
      position: relative;
      left: 25%;
      width: 75%;
      padding: 100px 5% 5% 5%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5%;

      div {
        width: calc(95% / 2);
        height: 40vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 5%;
        cursor: pointer;
        transition: all 0.5s;
        filter: grayscale(0.4);

        &:hover {
          filter: grayscale(0);
          box-shadow: 0 0 20px $backDark;
          transform: scale(1.05);
          border-radius: 13px;
        }
      }
    }
  }
}

.container__popup {
  display: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: $backDarkTr;
  backdrop-filter: blur(5px);
  z-index: 99;

  &__close {
    width: 30px;
    height: 5px;
    background-color: $backWhite;
    border-radius: 2px;
    position: relative;
    top: 30px;
    left: calc(100% - 50px);
    transform: rotate(-45deg);
    transition: all 0.3s;

    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 5px;
      background-color: $backWhite;
      border-radius: 2px;
      transform: rotate(90deg);
      transition: all 0.3s;
    }

    &:hover {
      background-color: $active;

      &::after {
        background-color: $active;
      }
    }
  }

  &__contentbox {
    width: 85%;

    height: 85%;
    // background-color: $backWhite;
    position: absolute;
    top: calc(15% / 2);
    left: calc(15% / 2);

    &__slides {
      width: 85vh;
      height: 85vw;
      transform: rotate(-90deg) translateX(-85vh);
      transform-origin: left top;
      overflow-x: hidden;
      overflow-y: scroll;

      &__item {
        width: 55vw;
        height: 85vh;
        margin-bottom: calc(55vw - 85vh);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(90deg) translateY(-85vh);
        transform-origin: left top;
      }
    }
  }
}

.__popup-active {
  display: block !important;
}
