@font-face {
  font-family: "first";
  src: url("./fonts/PRETENDARD-LIGHT.OTF") format("opentype");
}
@font-face {
  font-family: "second";
  src: url("./fonts/PRETENDARD-BOLD.OTF") format("opentype");
}
@font-face {
  font-family: "third";
  src: url("./fonts/PRETENDARD-SEMIBOLD.OTF") format("opentype");
}
.container__header__projects {
  background-color: rgba(59, 64, 87, 0.5);
}

.container__projects__main__portfolio {
  width: 100%;
  position: relative;
}
.container__projects__main__portfolio__nav {
  width: 25%;
  height: calc(100% - 100px);
  margin-top: 90px;
  padding: 10px;
  position: fixed;
  border-right: 1px solid rgb(59, 64, 87);
}
.container__projects__main__portfolio__nav li {
  width: 100%;
  height: 30px;
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(59, 64, 87);
  transition: all 0.3s;
}
.container__projects__main__portfolio__nav li:hover {
  color: rgb(173, 26, 26);
  font-size: 1.4rem;
  font-family: "second";
}
.container__projects__main__portfolio__contentbox {
  position: relative;
  left: 25%;
  width: 75%;
  padding: 100px 5% 5% 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
}
.container__projects__main__portfolio__contentbox div {
  width: 47.5%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 5%;
  cursor: pointer;
  transition: all 0.5s;
  filter: grayscale(0.4);
}
.container__projects__main__portfolio__contentbox div:hover {
  filter: grayscale(0);
  box-shadow: 0 0 20px rgb(59, 64, 87);
  transform: scale(1.05);
  border-radius: 13px;
}

.container__popup {
  display: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(59, 64, 87, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 99;
}
.container__popup__close {
  width: 30px;
  height: 5px;
  background-color: rgb(255, 248, 235);
  border-radius: 2px;
  position: relative;
  top: 30px;
  left: calc(100% - 50px);
  transform: rotate(-45deg);
  transition: all 0.3s;
}
.container__popup__close::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: rgb(255, 248, 235);
  border-radius: 2px;
  transform: rotate(90deg);
  transition: all 0.3s;
}
.container__popup__close:hover {
  background-color: rgb(173, 26, 26);
}
.container__popup__close:hover::after {
  background-color: rgb(173, 26, 26);
}
.container__popup__contentbox {
  width: 85%;
  height: 85%;
  position: absolute;
  top: 7.5%;
  left: 7.5%;
}
.container__popup__contentbox__slides {
  width: 85vh;
  height: 85vw;
  transform: rotate(-90deg) translateX(-85vh);
  transform-origin: left top;
  overflow-x: hidden;
  overflow-y: scroll;
}
.container__popup__contentbox__slides__item {
  width: 85vw;
  height: 85vh;
  margin-bottom: calc(85vw - 85vh);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(90deg) translateY(-85vh);
  transform-origin: left top;
}

.__popup-active {
  display: block !important;
}/*# sourceMappingURL=projects.css.map */